server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      # CORS GLOBAL para permitir llamadas desde el frontend Vite (http://localhost:5173)
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            exposedHeaders:
              - "*"
            allowCredentials: true

airguardnet:
  services:
    user:
      base-url: http://localhost:8081
    device:
      base-url: http://localhost:8082
    notification:
      base-url: http://localhost:8083

jwt:
  secret: "changeitsecret12345678901234567890"
  expiration-ms: 3600000

logging:
  level:
    root: INFO
    com.airguardnet: DEBUG
