server:
  port: 8082

spring:
  application:
    name: device-service

  datasource:
    url: jdbc:postgresql://localhost:5432/airguardnet
    username: postgres        # cambia si tu usuario es otro
    password: 1234            # cambia por tu password real
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update        # para desarrollo
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace
